doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./style.css")
        link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap", rel="stylesheet")
        script(defer, src="./app.js")
        title P A T R I C K | M C L E N N A N
    body
                            
        main.main

            - const spans = ['top', 'right', 'bottom', 'left']

        
            form.google_form
                input.google_form_input(type="text", placeholder="Google It . . .", tab-index: "1")
                a.google_button(href="", target="_blank")


            section.section.section_facebook
                button.section_header Facebook
                    for span in spans
                        span(class="section_header_span section_header_span_" + span)
                    ul.section_header_ul.section_header_ul_facebook
                        li.section_header_active.section_header_li You have #[span.section_header_notification_span_facebook] notifications
                        //- This will be handled via js, just examples for now
                        li.section_header_li(style="transition-delay: 0;") Notification #1
                        li.section_header_li(style="transition-delay: .05s;") Notification #2
                        li.section_header_li(style="transition-delay: .1s;") Notification #3
                        li.section_header_li(style="transition-delay: .15s;") Notification #4

            section.section.section_gmail
                button.section_header Gmail
                    for span in spans
                        span(class="section_header_span section_header_span_" + span)
                    ul.section_header_ul.section_header_ul_gmail
                        li.section_header_active.section_header_li You have #[span.section_header_notification_span_gmail] notifications
                        //- This will be handled via js, just examples for now
                        li.section_header_li(style="transition-delay: 0;") Notification #1
                        li.section_header_li(style="transition-delay: .05s;") Notification #2
                        li.section_header_li(style="transition-delay: .1s;") Notification #3
                        li.section_header_li(style="transition-delay: .15s;") Notification #4

            section.section.section_work
                button.section_header Work
                    for span in spans
                        span(class="section_header_span section_header_span_" + span)
                    ul.section_header_ul.section_header_ul_work
                        li.section_header_active.section_header_li You have #[span.section_header_notification_span_work] notifications
                        //- This will be handled via js, just examples for now
                        li.section_header_li(style="transition-delay: 0;") Notification #1
                        li.section_header_li(style="transition-delay: .05s;") Notification #2
                        li.section_header_li(style="transition-delay: .1s;") Notification #3
                        li.section_header_li(style="transition-delay: .15s;") Notification #4
